@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Colors and fonts */

.header-hero-container{
    background-color: #1f2937;
}

.header-logo, .hero-main-text {
    color: #f9faf8;
}

.header-logo {
    font-size: 24px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.header-link, .hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

.sign-up-button, .call-to-action {
    background-color: #3882f6;
}

.information-header, .quote, .quote-credit {
    color: #1f2937;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
}

a {
    text-decoration: none;
}

/* -------------------------- */

.header-hero-container {
    padding: 8px 250px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header img {
    height: 60px;
    width: 60px;
}

.header-links-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

.hero-content {
    display: flex;
    gap: 64px;
    padding: 96px 0px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.hero-right {
    display: flex;
    justify-content: flex-end;
}

.sign-up-button {
    padding: 6px 32px;
    border-radius: 10px;
    color: white;
    margin: 15px 0px;
}

.therapy-image {
    width: auto;
    height: 300px;
}

.hero-left, .hero-right {
    flex: 1;
}

.information-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 100px;
}

.information-header {
    text-align: center;
    margin: 60px;
}

.information-item {
    width: 200px;
    text-align: center;
}

.information-item img {
    height: 150px;
    width: 150px;
    border: 4px solid #3882f6;
    border-radius: 15%;
    margin-bottom: 24px;
}

.quote-container {
    background-color: #e5e7eb;
    padding: 150px 300px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 15px;
}

.quote-credit {
    text-align: right;
    font-weight: bold;
    font-size: 28px;
}

.call-to-action {
    margin: 70px 250px;
    padding: 20px 50px;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-big {
    font-weight: 900;
    font-size: 24px;
}

.call-to-action .sign-up-button {
    border: 2px solid white;
}